---
import '../styles/global.css';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='icon' href='/favicon.ico' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>JWC Construction</title>
	</head>
	<body class='grid justify-center items-center bg-green-900 sm:h-screen'>
		<div class='text-white grid gap-10 sm:p-20 p-5 border-2'>
			<h1 class='font-bold text-4xl hidden'>JWC Construction LLC</h1>
			<img src='./public/smaller.svg' alt='JWC Construction LLC logo' class='invert' />
			<h2>
				We specialize in building high-quality residential garages, <br />
				decks, and home additions. We focus on durable craftsmanship, practical design, and
				<br />
				dependable construction that adds real value and usable space to your home.
			</h2>

			<span>Call us: <a href='tel:4349073052' class='hover:underline'>(434) 907-3052</a></span>

			<span
				>Email us: <a href='mailto:josh@jwcbedford.com' class='hover:underline'
					>josh@jwcbedford.com</a
				></span
			>
		</div>
	</body>
</html>
