---
import '../styles/global.css';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Values | JWC Construction</title>
	</head>
	<body class='grid justify-center items-center bg-green-900 sm:h-screen'>
		<div class='text-white grid gap-10 sm:p-20 p-5 border-2'>
			<h1 class='font-bold text-4xl hidden'>JWC Construction LLC</h1>
			<img src='/smaller.svg' alt='JWC Construction LLC logo' class='invert' />
			<a href='/' class='hover:underline'> ← Home</a>
			<p class='max-w-3xl text-pretty'>
				<b>Christ-Centered</b>
				<br />
				We honor Christ in everything we do, striving to do our work unto Him and for His
				glory. Our motivation comes from a deep love for God and our neighbors, ensuring that
				every project reflects our faith and commitment to His principles.
			</p>
			<p class='max-w-3xl text-pretty'>
				<b>Family</b>
				<br />
				At JW Construction, we treat our employees like family, supporting their well-being
				in every sphere so they can lead, love, and serve their own families better. We are
				dedicated to creating a work environment that fosters long-term relationships and
				ensures that our team members grow with us, both personally and professionally.
			</p>
			<p class='max-w-3xl text-pretty'>
				<b>Life</b>
				<br />
				We are unwavering in our commitment to the sanctity of life and advocate for the total
				abolition of abortion. We believe in the inherent value of every life, made in the
				image of God, and seek to reflect that in how we interact with others and by supporting
				causes that align with this belief.
			</p>
			<p class='max-w-3xl text-pretty'>
				<b>Relationships</b>
				<br />
				Building lasting, trust-based relationships with our clients and contractors is essential.
				Many of our trusted partners have been with us for over two decades, and we work diligently
				to maintain integrity and respect in all our interactions, ensuring the best outcomes
				for everyone involved.
			</p>
			<p class='max-w-3xl text-pretty'>
				<b>Quality</b>
				<br />
				We take immense pride in the quality of our craftsmanship, knowing that our work will
				be enjoyed for generations to come. Our clients can trust that every project is completed
				with the highest standards of excellence, ensuring lasting value and beauty.
			</p>
		</div>
	</body>
</html>
